@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--body-font);
  background-color: #ffffff;
  color: #00091f;
  letter-spacing: 1px;
  height: 100%;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--heading-font);
}

p {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  border: none;
  font-weight: 500;
  -webkit-transition: color 350ms ease-in-out;
  transition: color 350ms ease-in-out;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

title {
  text-transform: capitalize;
}

/* Header Section CSS Start */
.header-sec-main {
  background-color: #060606;
  border-color: #282828;
}
a.header-logo {
  display: block;
}
a.header-logo img {
  height: 68px;
  width: 172px;
  object-fit: contain;
  padding: 13px 13px 13px 0;
}
/* Header Section CSS End */
/* Login Section CSS Start */
section.login-sec-main {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
section.login-sec-main .container-fluid {
  padding: 0;
  height: 100%;
}
.login-inner,
.login-con-block {
  height: 100%;
}
.login-table-block {
  height: 100%;
  padding: 100px 25px 25px 25px;
  width: 100%;
  height: 100%;
  margin: -1px;
}
.login-table-box {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.64);
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.login-table-box-inner {
  padding: 27px 15px 15px;
}
.login-table-title {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background-color: #41464b;
  border-color: #41464b;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.login-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}
.form-control {
  background-color: #41464b !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.9);
}
.form-field {
  margin-bottom: 15px;
}
.form-field ::placeholder,
.form-field input:focus {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42857143;
  color: #060606;
}
.login-btn-block {
  display: flex;
  align-items: center;
}
.login-submit-btn {
  margin-right: 20px;
}
.submit-btn {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  background-color: #41464b;
  border-color: #41464b;
}
.login-btn-content a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #dc3545;
}
.login-btn-content {
  display: flex;
  flex-direction: column;
}
/* Login Section CSS End */

/* Sign Up Section CSS Start */
section.signup-sec-main {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
section.signup-sec-main .container-fluid {
  padding: 0;
  height: 100%;
}
form.signup-form .form-field {
  display: flex;
}
form.signup-form label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #060606;
  width: 25%;
  text-align: right;
  padding: 0 15px;
}
form.signup-form input {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #060606;
  width: 75%;
  margin: 0;
  margin: 0 15px;
}
.form-password-box {
  width: 75%;
  margin: 0 15px;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #060606;
}
.form-password-box input {
  width: 100% !important;
  margin: 0 !important;
}
form.signup-form .login-btn-block {
  justify-content: flex-end;
}
/* Sign Up Section CSS End */

/* Demo Section CSS Start */
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.header-user-block {
  margin: 0;
  padding: 0;
}
ul.header-user-block li a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  position: relative;
  display: block;
  padding: 17px 15px;
  color: #cecece;
}
ul.header-user-block li a img {
  width: 36px;
  height: 36px;
  margin-right: 5px;
}
section.demo-sec-main {
  /*background-color: #060606d4;*/
  padding: 30px;
  border-top: 1px solid #282828;
}
.demo-inner {
  display: flex;
  flex-wrap: wrap;
}
.demo-box-block {
  position: relative;
}
.demo-img {
  font-family: "Lato", sans-serif;
  margin: 15px 15px 15px 15px;
  opacity: 0.87;
  border-width: 2px;
  border-radius: 8px;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  height: 202px;
  min-width: 300px;
  max-width: 300px;
  font-size: 20px;
  line-height: 202px;
  max-height: 202px;
  text-align: center;
  vertical-align: middle;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #353535;
  color: white;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}
.demo-img:hover {
  opacity: 1;
  border-color: #646464;
}
.demo-img a.demo-edit-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #060606d4;
  border-radius: 100%;
  position: absolute;
  top: 30px;
  right: 30px;
}
.demo-img a.demo-edit-btn svg {
  width: 7px;
  fill: #ffffff;
}
.demo-title {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: #222222;
  border-radius: 6px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  opacity: 0.9;
  position: relative;
  margin-bottom: -10000px;
  margin-right: -10000px;
  margin-top: 28.5px;
  margin-left: 87px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
}
.demo-title.active {
  display: block !important;
}
.demo-title .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}
ul.demo-list {
  padding: 0;
  margin: 0;
}
ul.demo-list li {
  list-style: none;
}
ul.demo-list > li {
  margin-left: 3px;
  margin-right: 3px;
}
ul.demo-list > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #ffffff;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
ul.demo-list > li > a .force-item {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding-left: 6px;
}
ul.demo-list > li:first-child > a .force-item {
  font-weight: 700;
}
ul.demo-list > li > a:hover,
ul.demo-list > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #32cdcd;
}
a.demo-box-add-block .demo-img {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.demo-img i {
  font-size: 5em;
  color: #dc3545;
}
a.demo-box-add-block .demo-img .fa-plus:before {
  content: "\f067";
}
.demo-box-main-title {
  padding-top: 30px;
  padding-left: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.demo-box-main-title h4 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #060606d4;
}
.demo-inner hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #282828;
  opacity: 1;
  width: 100%;
}
/* Demo Section CSS End */
.custom-login-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../image/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.myaccount .form-control {
  background-color: #f1f1f1 !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #000000cc !important;
}
